/* Global Styles */
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

/* Header Styles */
/* header {
    background-color: #232f3e;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
} */

/* Main Content Styles */
.product-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
/* .product-card:last-child {
    margin-top: auto;
} */


/* Product Card Styles */
.product-card {
    width: calc(50% - 20px); /* Two columns in mobile view */
    margin-bottom: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px 0 rgba(252, 2, 2, 0.8);
            box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.8);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.product-card:hover {
 transform: scale(1.05); /* Add a hover effect */
}

@media screen and (min-width: 768px) {
    .product-card {
        width: calc(25% - 20px); /* Four columns in desktop view */
    }
}

.product-image {
    width: 100%;
    height: auto;
    /* border-radius: 10px; */
    object-fit: cover;
}
.product-buy-button{
    width: 93%;
    height: 50px;
    background-color: #6bb7be;
    border-radius: 10px;
    border: solid 1px #6bb7be;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;   
}
.product-buy-button:hover{
    background-color: transparent;
    color: #f89646;
    border: solid 1px #f89646;  
}
.product-buy-button:focus{
    outline: none;
}
/* .product-info{
    background-color: #6bb7be;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.product-description {
    margin: 0;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #ffffff;
}
.product-description-sellers {
    margin: 10px;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.product-link {
    display: block;
    text-align: center;
    /* padding: 10px 0; */
    text-decoration: none;
    color: #000;
}

/*logo section*/
.logo{
    width: 200px;
    height: 60px;
  }

  .all-collections-main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .all-collections{
    /* width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; */
    display: inline-block;
    padding: 10px 45px;
    background-color: #f89646;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid #f89646;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .all-collections:hover{
    color: #f89646;
    background-color: transparent
  }
  #amazon-best-sellers{
    padding-top: 15px;
  }


  