body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding-top: 60px;
  padding-bottom: 10px;
}

.long_section {
  margin-left: 45px;
  margin-right: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}
.heading_container h1 {
  position: relative;
  font-weight: bold;
  font-size: x-large;
  text-transform: uppercase;
  text-align: center;
}

/*header section*/
.hero_area {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
}

.header_section {
  padding-top: 15px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 9999;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 15px 15px;
  color: #272727;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.custom_nav-container .navbar-nav .nav-item .nav-link:hover {
  color: red;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #272727;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99;
  padding: 0px 20px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: #000000;
  border-radius: 15px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f80404;
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote_btn-container a {
  color: #151515;
  margin-right: 25px;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-right: 5px;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-color: #f9fafa;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section #customCarousel {
  width: 100%;
  padding-top: 60px;
  z-index: 3;
}

.slider_section .detail-box {
  color: #000000;
}

.slider_section .detail-box h1,h2 {
  font-weight: bold;
  font-size: xx-large ;
  text-transform: uppercase;
  margin-bottom: 0;
}

.slider_section .detail-box p {
  margin: 25px 0;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
}

.slider_section .detail-box .btn-box{
  /* margin: 5px;
  width: 165px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 50px;
  background-color: #f89646;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #f89646;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.rareosphere-mention {
  color: black;
}
.rareosphere-mention:hover {
  color: red;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: transparent;
  color: #f89646;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 50px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #6bb7be;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.slider_section .detail-box .btn-box :hover {
  background-color: transparent;
  color: #6bb7be;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 45px;
}

.slider_section .carousel-indicators li {
  background-color: #6bb7be;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 17px;
  height: 17px;
  background-color: #f89646;
}

.furniture_section .box {
  margin-top: 45px;
  background-color: #f7fafa;
  padding: 25px;
  border-radius: 5px;
}

.furniture_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 275px;
  padding: 25px;
}

.furniture_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
}

.furniture_section .box .detail-box {
  margin-top: 15px;
}

.furniture_section .box .detail-box h5 {
  text-transform: uppercase;
  font-size: 18px;
}

.furniture_section .box .detail-box .price_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.furniture_section .box .detail-box .price_box .price_heading {
  margin-bottom: 0;
}

.furniture_section .box .detail-box .price_box .price_heading span {
  color: #6bb7be;
}

.furniture_section .box .detail-box .price_box a {
  color: #6bb7be;
  text-transform: uppercase;
  font-size: 15px;
}

.furniture_section .all-collections-main a:hover {
  color: #f7fafa;
  font-weight: bold;
}

.about_section {
  background-color: #f9fafa;
}

.about_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_section .img-box img {
  width: 100%;
  filter: drop-shadow(10px 7px 20px orange)
}
.about_section .img-box img:hover {
  filter: drop-shadow(10px 7px 20px red)
}

.about_section .detail-box p {
  margin-top: 10px;
  margin-bottom: 35px;
}

.about_section .detail-box .about-contact-link {
  display: inline-block;
  padding: 10px 45px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #6bb7be;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #6bb7be;
}

.product_category_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product_category_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.product_category_section .heading_container h1::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


/* Product category section*/

.product_category_section .box {
  margin-top: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(105, 89, 89, 0.5);
  box-shadow: 0 0 10px 0 rgba(111, 93, 93, 0.5);
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}
.product_category_section .box:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease-in-out;
  -webkit-box-shadow: 0 0 15px 0 rgba(121, 101, 101, 0.9);
  box-shadow: 0 0 15px 0 rgba(118, 103, 103, 0.9);
}

.product_category_section .box .img-box {
  position: relative;
}

.product_category_section .box .img-box img {
  width: 100%;
}

.product_category_section .box .detail-box {
  padding: 10px;
}

.product_category_section .box .detail-box h5 {
  font-weight: bold;
}

.product_category_section .box .detail-box p {
  font-size: 15px;
  color: #444;
}

.product_category_section .box .detail-box .categories-box {
  display: inline-block;
  color: #000000;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.product_category_section .box .detail-box .view-collections-button:hover {
  background-color: transparent;
  color: #f7fafa;
  font-weight: bold;
}

.product_category_section .all-collections-main a:hover {
  background-color: transparent;
  color: #f7fafa;
  font-weight: bold;
}

.client_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 45px;
  padding: 35px 25px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.client_section .box .img-box {
  border-radius: 100%;
  border: 10px solid #6bb7be;
  margin-right: 25px;
  min-width: 175px;
  max-width: 175px;
  overflow: hidden;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.client_section .box .detail-box .name {
  text-align: center;
}

.client_section .box .detail-box .name img {
  width: 25px;
  margin-bottom: 5px;
}

.client_section .box .detail-box .name h6 {
  color: #6bb7be;
  font-size: 20px;
}

.client_section .carousel_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  position: unset;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  background-color: #6bb7be;
  background-position: center;
  border-radius: 100%;
  margin: 0 2.5px;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #000000;
}

.client_section .carousel-control-next {
  left: initial;
}

.contact_section {
  position: relative;
  background-color: #f9fafa;
  padding-top: 100px;
  padding-bottom: 75px;
}

.contact_section .heading_container {
  margin-bottom: 25px;
}

.contact_section .heading_container h2 {
  text-transform: uppercase;
}

.contact_section .form_container input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  outline: none;
  color: #101010;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

.contact_section .form_container input::-webkit-input-placeholder {
  color: #333;
}

.contact_section .form_container input:-ms-input-placeholder {
  color: #333;
}

.contact_section .form_container input::-ms-input-placeholder {
  color: #333;
}

.contact_section .form_container input::placeholder {
  color: #333;
}

.contact_section .form_container input.message-box {
  height: 120px;
}

.contact_section .form_container button {
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 55px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid #6bb7be;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contact_section .form_container button:hover {
  background-color: transparent;
  color: #6bb7be;
}

.contact_section .img-box img{
  width: 100%;
  height: auto;
  filter: drop-shadow(10px 7px 20px orange)
}
.contact_section .img-box img:hover{
  filter: drop-shadow(10px 7px 20px red)
}

.info_section {
  background-color: #191e1f;
  border-radius: 20px;
  color: #ffffff;
  padding-top: 45px;
  padding-bottom: 45px;
}

.info_section .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 25px 0;
  text-align: center;
}

.info_section .contact_nav a {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.info_section .contact_nav a i {
  font-size: 28px;
}

.info_section .contact_nav a:hover {
  color: #f89646;
}

.info_section .info_top {
  padding: 45px 0;
}

.info_section h4 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
}

.info_section .info_links .info_links_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info_section .info_links .info_links_menu a {
  color: #ffffff;
  -ms-flex-preferred-size: 50%;
  flex-basis: 100%;
  padding: 5px;
}

.info_section .info_links .info_links_menu a:hover,
.info_section .info_links .info_links_menu a.active {
  color: #f89646;
}

.info_section .info_post {
  text-align: center;
}

.info_section .info_post .post_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;


  /* background-color: #f80404; */


}

.info_section .info_post .post_box .img-box {
  min-width: 65px;
  max-width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: #ffffff; */
  -ms-flex-preferred-size: calc(33% - 10px);
  flex-basis: calc(33% - 10px);
  padding: 10px;
  margin: auto;
}

.info_section .info_post .post_box .img-box img {
  max-width: 300%;
  max-height: 300%;
}

.info_section .info_post .post_box .img-box img:hover {
  opacity: 0.6;
}

/* .info_section .info_post .post_box p {
  margin: 0;
}

.info_section .info_post .post_box:not(:nth-last-child(1)) {
  margin-bottom: 15px;
} */

.info_section .info_form input {
  width: 100%;
  border: none;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 25px;
  background-color: #eaeaea;
  outline: none;
  color: #101010;
}

.info_section .info_form button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid #6bb7be;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.info_section .info_form button:hover {
  background-color: transparent;
  color: #6bb7be;
}

.info_section .info_form .social_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.info_section .info_form .social_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  border: 1px solid #6bb7be;
  color: #6bb7be;
  font-size: 18px;
  margin-right: 10px;
}

.info_section .info_form .social_box a:hover {
  color: #f89646;
  border-color: #f89646;
}

/* footer section*/

.footer_section {
  padding: 20px;
  text-align: center;
}
.footer_section p {
  color: #000000;
  padding: 20px;
}
.footer_section p a {
  color: inherit;
}
.footer_section a:hover {
  color: #f89646;
}
.copyright, .developer {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .footer_section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
  }

  .developer {
      margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */

/*logo section*/
.logo {
  width: 200px;
  height: 60px;
}

.about-us .web-link {
  width: 0;
  height: 0;
  background-color: #000000;
  text-decoration: none;
  color: yellow;
}


/* View collection border glow effect*/
.view-collections-button {
  /* width: 220px;
  height: 50px; */
  display: inline-block;
  padding: 10px 40px;
  text-align: center;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.view-collections-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.view-collections-button:active {
  color: #000
}

.view-collections-button:active:after {
  background: transparent;
}

/* .view-collections-button:hover:before {
  opacity: 1;
} */
.view-collections-button:before {
  opacity: 1;
}

.view-collections-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.view-collections-button:focus {
  outline: none;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* Product info section */
.product_info_section .img-box img {
  width: 100%;
  height: auto;
}

/* Hide default video controls */
video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
}

.product_info_section .detail-box {
  margin-top: 9%;
  /* margin-bottom: 35px; */
}

.product_info_section .buy-button,
.amazon-disclosure {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.product_info_section #sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 20px; /* Adjust as needed */
  }


.glow-on-hover {
  /* width: 220px;
  height: 50px; */
  display: inline-block;
  padding: 15px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

/* .glow-on-hover:hover:before {
  opacity: 1;
} */
.glow-on-hover:hover {
  color: red;
}

.glow-on-hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.glow-on-hover:focus {
  outline: none;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}


/* Product Content Styles */
.product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
#product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

/* .product-card:last-child {
  margin-top: auto;
} */


/* Product Card Styles */
.product-card {
  width: calc(50% - 20px);
  /* Two columns in mobile view */
  margin-bottom: 20px;
  background-color: #ffffff;
  /* border: solid 1px;
  border-color: #ffffff; */
  -webkit-box-shadow: 0 0 10px 0 rgba(121, 101, 101, 0.5);
  box-shadow: 0 0 10px 0 rgba(118, 103, 103, 0.5);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.03);
  /* Add a hover effect */
  font-weight: bold;
  -webkit-box-shadow: 0 0 15px 0 rgba(121, 101, 101, 0.9);
  box-shadow: 0 0 15px 0 rgba(118, 103, 103, 0.9);
}

@media screen and (min-width: 768px) {
  .product-card {
    width: calc(25% - 20px);
    /* Four columns in desktop view */
  }
}

@media (max-width: 359px) {
  .product-card {
    width: 100%;
  }
}


.product-image {
  width: 100%;
  height: auto;
  /* border-radius: 10px; */
  object-fit: cover;
}

.product-buy-button {
  width: 93%;
  height: 50px;
  background-color: transparent;
  border-radius: 10px;
  border: solid 1px #6bb7be;
  color: #f89646;
  font-weight: bold;
  font-size: 12px;
  margin: 6px;
}

.product-buy-button:hover {
  background-color: transparent;
  color: #6bb7be;
  border: solid 1px #f89646;
}

.product-buy-button:focus {
  outline: none;
}

/* .product-info{
  background-color: #6bb7be;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.product-description {
  margin: 0;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  color: #000;
}

.product-description-sellers {
  margin: 10px;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.product-link {
  display: block;
  text-align: center;
  /* padding: 10px 0; */
  text-decoration: none;
  color: #000;
}

/*logo section*/
.logo {
  width: 200px;
  height: 60px;
}

.all-collections-main {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#amazon-best-sellers {
  padding-top: 15px;
}

.best-sellers {
  width: 93%;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  border: solid 1px #f89646;
  color: #6bb7be;
  font-weight: bold;
  font-size: 12px;
  margin: 6px;
}

.best-sellers:hover {
  background-color: #6bb7be;
  color: #ffffff;
  border: solid 1px #f8964e;
}

.best-sellers:focus {
  outline: none;
}

/* social media share button */
.share-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

#share-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 15px;

}

#share-buttons button {
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 15px 40px;
}

#share-buttons button:hover {
  opacity: 0.7;
}

#share-buttons button:focus {
  outline: none;
}

#facebook-share {
  background-color: #3b5998;
}

#twitter-share {
  background-color: #1da1f2;
}

#linkedin-share {
  background-color: #0077b5;
}

#pinterest-share {
  background-color: #bd081c;
}

#reddit-share {
  background-color: #ff4500;
}

#whatsapp-share {
  background-color: #25d366;
}

#telegram-share {
  background-color: #1da1f2;
}

#copy-to-clipboard {
  background-color: #020202;
}

/* Blog section*/
.blog_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.blog_section .heading_container h1::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


.blog_section .box {
  margin-top: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(105, 89, 89, 0.5);
  box-shadow: 0 0 10px 0 rgba(111, 93, 93, 0.5);
  transition: transform 0.7s ease-in-out;
}
.blog_section .box:hover {
  transform: scale(1.03);
  opacity: 0.9;
 
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .blog-img {
  width: 100%;
}

.blog_section .box .detail-box {
  padding: 20px;
}

.blog_section .box .detail-box h5 {
  font-weight: bold;
}

.blog_section .box .detail-box p {
  font-size: 15px;
  color: #444;
}

.blog_section .box .detail-box .categories-box {
  display: inline-block;
  color: #000000;
  -webkit-transition: all .2s;
  transition: all .2s;
}


.blog_section .all-collections-main a:hover {
  background-color: transparent;
  color: #f7fafa;
  font-weight: bold;
} */

/* Blog info section */
.blog_info_section {
  background-color: #f9fafa;
}

.blog_info_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: start;
}

.blog_info_section .img-box img {
  width: 100%;
}
.blog_info_section a {
  color: #07a8b7;
}
.blog_info_section a:hover {
  color: #f89646;
}
.blog_info_section a:focus {
  outline: none;
}
.blog_info_section .img-card img{
  width: 100%;
}
.blog_info_section .detail-box p {
  margin-top: 10px;
  margin-bottom: 35px;
}

.blog_info_section .detail-box .about-contact-link {
  display: inline-block;
  padding: 10px 45px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #6bb7be;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.blog_info_section .detail-box a:hover {
  background-color: transparent;
  color: #6bb7be;
}


/* Related Blogs Styling */

/* Sticky sidebar */
.blog_info_section #sticky-sidebar {
position: -webkit-sticky;
position: sticky;
top: 20px; /* Adjust as needed */
}

.related_blogs {
padding-top: 10px;
margin-bottom: 20px;
overflow: hidden; /* Clearfix */
}

.related_blogs img {
float: left;
margin-right: 10px;
width: 100px; /* Increased image size */
height: auto; /* Maintain aspect ratio */
}

.blog-info {
overflow: hidden;
}

.blog-info h4 {
margin: 0; /* Remove default margins */
font-size: 18px; /* Reduced font size for title */
/* color: #6bb7be; */
}
/* .blog-info h4:hover {
color: #f89646;
} */

.related_blogs p {
margin: 0; /* Remove default margins */
font-size: 12px; /* Reduced font size for date */
color: #000;
}


/* Product card Search button Styles */

.search_section .all-collections-main a:hover {
  background-color: transparent;
  color: #f7fafa;
  font-weight: bold;
}

.search_section #search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  
}
.search_section h1{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: large;

}

#search-input {
  flex: 1;
  padding: 8px;
  -webkit-box-shadow: 0 0 10px 0 rgba(121, 101, 101, 0.5);
  box-shadow: 0 0 10px 0 rgba(118, 103, 103, 0.5);
  border-radius: 10px;
  border: none;
}
#search-input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px 0 rgba(121, 101, 101, 0.9);
  box-shadow: 0 0 10px 0 rgba(118, 103, 103, 0.9);
}

#search-button {
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px 0 rgba(121, 101, 101, 0.5);
  box-shadow: 0 0 10px 0 rgba(118, 103, 103, 0.5);
  border-radius: 10px;
  border: none;
}
#search-button:hover{
  -webkit-box-shadow: 0 0 10px 0 rgba(121, 101, 101, 0.9);
  box-shadow: 0 0 10px 0 rgba(118, 103, 103, 0.9);

}
#search-button:focus{
  outline: none;
}
#no-results-message {
  display: none;
  color: red;
}

#empty-search-warning {
  display: none;
  color: orange;
}

.header_section .search-link{
  padding-right: 10px;
  color: #000;
  
}
.header_section i:hover{
  color: red;
}
/* Product Card Search Styles end */

 /* Custom styles for the Google Translate dropdown */
        .goog-te-combo {
            background-color: #fff; /* Background color */
            border: 1px solid #000000; /* Border */
            border-radius: 4px; /* Rounded corners */
            padding: 5px; /* Padding */
            font-family: Arial, sans-serif; /* Font family */
            font-size: 14px; /* Font size */
            color: #000000; /* Text color */
            appearance: none; /* Remove default appearance */
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        
        .google-translate{
          display: flex;
          justify-content: end;
        }

  /* Contact form styling */
        .contact-container {
          max-width: 400px;
          margin: 0 auto;
          padding: 20px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f9f9f9;
        }
    
        .contact-form input,
        .contact-form textarea {
          width: calc(100% - 22px);
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 3px;
          box-sizing: border-box;
        }
    
        .contact-form textarea {
          height: 100px;
          width: 100%;
        }
    
        .contact-form button {
          width: 100%;
          padding: 10px;
          border: none;
          border-radius: 3px;
          background-color: #007bff;
          color: #fff;
          cursor: pointer;
          transition: background-color 0.3s;
        }
    
        .contact-form button:hover {
          background-color: #0056b3;
        }
    
        .warning-message {
          color: red;
          font-size: 12px;
          margin-top: -15px;
          margin-bottom: 10px;
        }
    
      /* Popup styles */
      .popup {
        position: relative;
        margin-top: 10px;
        color: #4CAF50;
        padding: 15px;
        border-radius: 5px;
        z-index: 1000;
        text-align: center;
        transition: opacity 0.5s;
      }
    
      .popup-error {
        background-color: #f44336; /* Red */
      }


      /* Thank you section */

      .thank_you_section .row {
        background-color: #ffffff;
        padding-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      
      /* .thank_you_section .row {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      } */
      
      .thank_you_section .img-box img {
        width: 60%;
        display: flex !; 
        justify-content: center;
        align-items: center;
      }
      
      .thank_you_section .detail-box p {
        margin-top: 10px;
        margin-bottom: 35px;
      }
      .thank_you_section .detail-box h1 {
        font-size: x-large;
      }
      
      .thank_you_section .detail-box .about-contact-link {
        display: inline-block;
        padding: 10px 45px;
        background-color: #6bb7be;
        color: #ffffff;
        border-radius: 10px;
        border: 1px solid #6bb7be;
        -webkit-transition: all .2s;
        transition: all .2s;
      }
      
      .thank_you_section .detail-box a:hover {
        background-color: transparent;
        color: #6bb7be;
      }
      

      /* Product review section */

      .product_review_section{
       padding: 30px;
      }
      .product_review_section h2, h3{
        font-size: x-large;
        font-weight: bold;
        text-transform: uppercase;
        
      }