RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^ https://rareosphere.com%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]


Redirect 301 /Bathroom-Accessories/(.*) https://rareosphere.com/
Redirect 301 https://rareosphere.com/categories/Bike-and-Car-Gadgets/(.*) https://rareosphere.com/categories/bike-and-car-gadgets/lowercase($1)
Redirect 301 https://rareosphere.com/categories/Daily-Life-Hack/(.*) https://rareosphere.com/categories/daily-life-hack/lowercase($1)
Redirect 301 https://rareosphere.com/categories/Health-and-Fitness/(.*) https://rareosphere.com/categories/health-and-fitness/lowercase($1)
Redirect 301 https://rareosphere.com/categories/Home-Improvement-Gadgets/(.*) https://rareosphere.com/categories/home-improvement-gadgets/lowercase($1)
Redirect 301 https://rareosphere.com/categories/Home-Office-Decor/(.*) https://rareosphere.com/categories/home-office-decor/lowercase($1)
Redirect 301 https://rareosphere.com/categories/Kids-and-Babies/(.*) https://rareosphere.com/categories/kids-and-babies/lowercase($1)
Redirect 301 https://rareosphere.com/categories/Kitchen-Accessories/(.*) https://rareosphere.com/categories/kitchen-accessories/lowercase($1)
Redirect 301 https://rareosphere.com/categories/Ladies-Products/(.*) https://rareosphere.com/categories/ladies-products/lowercase($1)
Redirect 301 https://rareosphere.com/categories/Smart-Tech/(.*) https://rareosphere.com/categories/smart-tech/lowercase($1)
