RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^ https://rareosphere.com%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]



Redirect 301 /categories/Home-Office-Decor/3d-removable-wall-stickers /categories/home-office-decor/3d-removable-wall-stickers

RewriteEngine On
RewriteCond %{REQUEST_URI} ^/categories/Ladies-Products/(.*)$ [NC]
RewriteRule ^/categories/(Ladies-Products)/(.+)$ /categories/ladies-products/$2 [L,R=301]
